<?xml version="1.0" ?>

<launch>
    <!-- Robot -->
    <node name="serial_comm" pkg="me212base" type="serial_comm.py" />
    <node name="base_tf_broadcaster" pkg="me212base" type="base_tf_broadcaster.py" />

    <!-- Make laser scans out of depth maps -->
    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="/camera/depth/points" />
        <param name="target_frame" type="str" value="base_link" />
    </node>

    <!-- SLAM -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
        <param name="map_update_interval" type="double" value="1.0" />
    </node>

    <!-- Navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" type="str" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" type="str" value="base_local_planner/TrajectoryPlannerROS" />
        <param name="recovery_behavior_enabled" type="bool" value="false" />

        <rosparam file="$(find me212base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find me212base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find me212base)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find me212base)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find me212base)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>
