<?xml version="1.0" ?>

<launch>
    <arg name="virtual" default="true" />

    <!-- Arduino (real or simulated) -->
    <node if="$(arg virtual)" name="base_simulator" pkg="me212base" type="base_simulator.py" />
    <node unless="$(arg virtual)" name="serial_comm" pkg="me212base" type="serial_comm.py" />

    <!-- Visualization -->
    <node name="base_tf_broadcaster" pkg="me212base" type="base_tf_broadcaster.py" />
</launch>
